@import"../../assets/colors.scss";

.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  img {
    width: 200px;
    cursor: pointer;
    outline: none;
  }
  .menu {
    color: $brown ;
    font-weight: bold;
    font-size: 30px;
    cursor: pointer;
    @media screen and (max-width: 950px) and (min-width: 830px) {
      font-size: 25px;
    }
    &:hover {
      color: $orange;
    }
    &.text {
      @media screen and (max-width: 830px) {
        display: none;
      }
    }
    &.icon {
      display: none;
      @media screen and (max-width: 830px) {
        display: flex;
      }
    }
    &.current {
      color: $orange;
      font-size: 40px;
      @media screen and (max-width: 950px) and (min-width: 830px) {
        font-size: 35px;
      }
    }
  }
}
